.role-1 {
  background-color: #71b6d6 !important;
  color: black !important;
  text-align: center !important;
  padding-top: 13px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
  cursor: pointer !important;
}

.role-1:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-2 {
  background-color: #F5F782 !important;	
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
}

.role-2:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-3 {
  background-color: #B7F782 !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
}

.role-3:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-4 {
  background-color: #f7c082   !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
}

.role-4:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-5 {
  background-color: #FFAFA9 !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
}

.role-5:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-6 {
  background-color: #DFB0F1   !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
  
}

.role-6:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-7 {
  background-color: #6998FF !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
}

.role-7:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-8 {
  background-color: #F86A6A !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
}

.role-8:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.table_row{
  background-color: none !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border-radius: 50px !important;
  gap: 30px !important;
  cursor: pointer !important;
}


.submit_button:hover{
background-color: rgb(146, 6, 6);
color: white;
border: rgb(146, 6, 6);
}



