@use "../../styles/variables" as v;

.page-header{
    background-image: linear-gradient(270deg, v.$color1-op-50, v.$color1, v.$color1-op-50);
    text-align: center;
    padding: 30px 0;
    font-weight: 600;
    color: v.$color3;
    text-transform: uppercase;
    text-shadow: 0 3px 7px v.$color1;
    letter-spacing: 0.5rem;
}